@model PersonageViewModel
@{
    ViewData["Title"] = "PersonageCreate";
    
}

<h1>Personage Create</h1>

<div>
    <a class="btn btn-dark" asp-action="PersonageList">Back to Personage List</a>
</div>

<hr />
<div class="row">
    <div class="col-lg-4">
        @if (ViewBag.Message != null)
        {
            <div class="alert-danger">@ViewBag.Message</div>
        }
        @if (ViewBag.PersonageExistMessage != null)
        {
            <div class="alert-danger">@ViewBag.PersonageExistMessage</div>
        }

        <form asp-action="PersonageCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group checkbox">
                <input asp-for="IsActive" checked="checked" />
                <label asp-for="IsActive">
                </label>
            </div>
            <div class="form-group">
                <input type="submit" id="ButtonList" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>

    @*<div class="col-lg-4" id="PartialList">


    </div>*@

   <div class="col-lg-6">
            <table class="table table-active table-bordered" id="TablePerson">
                <thead class="bg-secondary">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            PhoneNo
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            IsActive
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in ViewBag.a)
                    {
                        <tr>
                            <td>
                                item.Name
                            </td>
                            <td>
                               item.PhoneNo
                            </td>
                            <td>
                                 item.Email
                            </td>
                            <td>
                                 item.Address
                            </td>
                            <td>
                                item.IsActive
                            </td>

                        </tr>
                    }*@


                </tbody>
            </table>

        </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script>
        $(document).ready(function () {
            $("#ButtonList").click(function () {

                //var json = { departmentId: departmentId }
                $.ajax({
                    type: "POST",
                    url: "/Personage/PersonagePartial",
                    //data: json,
                    success: function (response) {
                        $('#PartialList').html(response);

                    }


                });

            });
        });
       
    </script>*@


   <script src="~/lib/datatables/js/dataTables.bootstrap.js"></script>
            <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {

               $("#TablePerson").DataTable({
                   "ajax" :{

                            "url": "/Personage/PersonageDataTable",
                            "type": "GET",
                            
                            "data": "json"
               
                       },
                       "columns": [

                           { "data": "Name", "autowidth": "true" },
                           { "data": " PhoneNo", "autowidth": "true" },
                           { "data": "Email", "autowidth": "true" },
                           { "data": " Address", "autowidth": "true" },
                           { "data": "IsActive", "autowidth": "true" }
                           
                       ]
                       
                   })
                })
                
            </script>

        }

        @section styles{
            <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
            <link href="~/lib/datatables/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
}